{{> navbar}}

<div class="all-content">
	<section id="home" class="hero">
		<h1>Welcome to My<span>Portfolio</span></h1>
	</section>

	<section class="welcome">
		<div class="welcome-left">
			<img src="static/images/welcome-1.jpeg">
		</div>
		<div class="welcome-middle">
			<h2>Making it Happen</h2>
			<p><q>You can't just sit there and wait for people to give you that golden dream. You've got to get out there and make it happen for yourself.</q> - Diana Ross</p>
		</div>
		<div class="welcome-right">
			<img src="static/images/welcome-2.jpeg">
		</div>
	</section>

	<section id="about" class="about-me">
		<img class="about-img" src="static/images/about-img.jpeg">
		<h1 class="about-title">Joseph Ball</h1>
		<h2 class="about-subtitle">Full Stack Developer</h2>
		<div class="about-text">
			<p>My name is Joseph Ball and I am a certified full stack web developer from Rutgers University. I have a background in electrical work and construction management but I was unsatisfied with that career path. I have made the change to web development because I have always had an interest in technology, coding, and creating new things. I also enjoy the challenge of learning something new, and solving problems.</p>

			<p>When I'm not studying web development I like to go mountain biking, which is probably my newest hobby. I usually ride trails at local parks with some friends. It's a good way to make exercise fun. During the winter months I go skiing. I have been skiing for as long as I can remember and try to go as often as possible since the season is rather short.</p>
		</div>
	</section>

	<section id="portfolio" class="portfolio">
		<h1>My Work</h1>
		<div class="portfolio-items">
			
			{{!-- featured item --}}
			<figure class="portfolio-item featured">
				<img class="portfolio-image" src="static/images/wedding-site.jpg">
				<figcaption>
					<h2 class="portfolio-title">Wedding Site</h2>
					<p class="portfolio-desc">A react base website that allows users to acquire info on a wedding and learn about the bride and groom.</p>
					<a class="portfolio-link">Learn More</a>
				</figcaption>

				{{!-- modal --}}
				<div class="portfolio-modal">
					<button class="modal-close">
						<svg x="0px" y="0px"
						viewBox="0 0 30 17" height="17" width="30">
							<g transform="translate(-15 -15)">
								<polygon class="st0" points="31.2,23.5 37,29.3 35.8,30.5 30,24.7 24.2,30.5 23,29.3 28.8,23.5 23,17.7 24.2,16.5 30,22.3 35.8,16.5 37,17.7"/>
							</g>
						</svg>
					</button>
					<div class="portfolio-header header-one">
						<div class="portfolio-title-box">
							<h2 class="portfolio-title">Wedding Site</h2>
							<p class="portfolio-subtitle"><a class="modal-link" href="https://caitlinanddavid.herokuapp.com/" onclick='window.open("https://caitlinanddavid.herokuapp.com/");return false;' target="_blank">Visit the Website</a></p>
						</div>
					</div>
					<div class="portfolio-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
						<img class="portfolio-full-width" src="static/images/wedding-site.jpg">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
						<img class="portfolio-pull-left" src="static/images/wedding-site.jpg">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
						<img class="portfolio-pull-right" src="static/images/wedding-site.jpg">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
					</div>
				</div>
				{{!-- /modal --}}
			</figure>
						
			{{!-- other items --}}
			<figure class="portfolio-item">
				<img class="portfolio-image" src="static/images/flyers.jpg">
				<figcaption>
					<h2 class="portfolio-title">Graphic Design</h2>
					<p class="portfolio-desc">Designed flyers and other advertising media for an Irish pub.</p>
					<a class="portfolio-link">Learn More</a>
				</figcaption>

				{{!-- modal --}}
				<div class="portfolio-modal">
					<button class="modal-close">
						<svg x="0px" y="0px"
						viewBox="0 0 30 17" height="17" width="30">
							<g transform="translate(-15 -15)">
								<polygon class="st0" points="31.2,23.5 37,29.3 35.8,30.5 30,24.7 24.2,30.5 23,29.3 28.8,23.5 23,17.7 24.2,16.5 30,22.3 35.8,16.5 37,17.7"/>
							</g>
						</svg>
					</button>
					<div class="portfolio-header">
						<div class="portfolio-title-box">
							<h2 class="portfolio-title">Graphic Design</h2>
							<p class="portfolio-subtitle"><a class="modal-link" href="https://marinamjames.github.io/Woofer/" onclick='window.open("https://marinamjames.github.io/Woofer/");return false;' target="_blank"></a></p>
						</div>
					</div>
					<div class="portfolio-content">
						<p>I design marketing material for a Southern New Jersey pub called P.J. Sweeney's Restuarant. Some examples of the marketing material are posters, flyers, images for Facebook events and Instagram posts. All designs are created using the latest version of Adobe Photoshop. My experince using Phototshop comes from taking college courses on the subject and a hobby in photography. I have been using Photoshop for photography for sevral years and for graphic design for the past year and a half.</p>
						<p>Future plans are to redesign the <a href="http://pjsweeneys.com/" onclick="window.open('http://pjsweeneys.com');return flase;" target="_blank">P.J. Sweeney's website</a> and become their webmaster, manage their social media and make posts on the resturants behalf, and expand to other clients. P.J. Sweeney's website uses Wordpress as its content management system.</p>
						<img class="portfolio-pull-left" src="static/images/wedding-site.jpg">
						<img class="portfolio-pull-right" src="static/images/wedding-site.jpg">
					</div>
				</div>
				{{!-- /modal --}}
			</figure>

			<figure class="portfolio-item">
				<img class="portfolio-image" src="static/images/debugger.jpg">
				<figcaption>
					<h2 class="portfolio-title">DeBugger</h2>
					<p class="portfolio-desc">DeBugger is a retro-style game where you need to destroy the bugs that are trying to attack you. Sign up and log in to track your score compared to other players on our leaderboard.</p>
					<a class="portfolio-link">Learn More</a>
				</figcaption>

				{{!-- modal --}}
				<div class="portfolio-modal">
					<button class="modal-close">
						<svg x="0px" y="0px"
						viewBox="0 0 30 17" height="17" width="30">
							<g transform="translate(-15 -15)">
								<polygon class="st0" points="31.2,23.5 37,29.3 35.8,30.5 30,24.7 24.2,30.5 23,29.3 28.8,23.5 23,17.7 24.2,16.5 30,22.3 35.8,16.5 37,17.7"/>
							</g>
						</svg>
					</button>
					<div class="portfolio-header header-two">
						<div class="portfolio-title-box">
							<h2 class="portfolio-title">DeBugger</h2>
							<p class="portfolio-subtitle"><a class="modal-link" href="https://still-spire-38286.herokuapp.com/" onclick='window.open("https://still-spire-38286.herokuapp.com/");return false;' target="_blank">Visit the Website</a></p>
						</div>
					</div>
					<div class="portfolio-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
						<img class="portfolio-full-width" src="static/images/wedding-site.jpg">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
						<img class="portfolio-pull-left" src="static/images/wedding-site.jpg">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
						<img class="portfolio-pull-right" src="static/images/wedding-site.jpg">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
					</div>
				</div>
				{{!-- /modal --}}
			</figure>

			<figure class="portfolio-item">
				<img class="portfolio-image" src="static/images/nyt-scrubber.jpg">
				<figcaption>
					<h2 class="portfolio-title">NYT Article Scrubber</h2>
					<p class="portfolio-desc">A React app that allows users search for articles in the New York Times API and save articles to a MongoDB database.</p>
					<a class="portfolio-link">Learn More</a>
				</figcaption>

				{{!-- modal --}}
				<div class="portfolio-modal">
					<button class="modal-close">
						<svg x="0px" y="0px"
						viewBox="0 0 30 17" height="17" width="30">
							<g transform="translate(-15 -15)">
								<polygon class="st0" points="31.2,23.5 37,29.3 35.8,30.5 30,24.7 24.2,30.5 23,29.3 28.8,23.5 23,17.7 24.2,16.5 30,22.3 35.8,16.5 37,17.7"/>
							</g>
						</svg>
					</button>
					<div class="portfolio-header header-three">
						<div class="portfolio-title-box">
							<h2 class="portfolio-title">NYT Article Scrubber</h2>
							<p class="portfolio-subtitle"><a class="modal-link" href="https://protected-harbor-78712.herokuapp.com/" onclick='window.open("https://protected-harbor-78712.herokuapp.com/");return false;' target="_blank">Visit the Website</a></p>
						</div>
					</div>
					<div class="portfolio-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
						<img class="portfolio-full-width" src="static/images/wedding-site.jpg">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
						<img class="portfolio-pull-left" src="static/images/wedding-site.jpg">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
						<img class="portfolio-pull-right" src="static/images/wedding-site.jpg">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
					</div>
				</div>
				{{!-- /modal --}}
			</figure>

			<figure class="portfolio-item">
				<img class="portfolio-image" src="static/images/friend-finder.jpg">
				<figcaption>
					<h2 class="portfolio-title">Friend Finder</h2>
					<p class="portfolio-desc">A web page that lets users fill out a survey and be matched with a friend with similar survey answers.</p>
					<a class="portfolio-link">Learn More</a>
				</figcaption>

				{{!-- modal --}}
				<div class="portfolio-modal">
					<button class="modal-close">
						<svg x="0px" y="0px"
						viewBox="0 0 30 17" height="17" width="30">
							<g transform="translate(-15 -15)">
								<polygon class="st0" points="31.2,23.5 37,29.3 35.8,30.5 30,24.7 24.2,30.5 23,29.3 28.8,23.5 23,17.7 24.2,16.5 30,22.3 35.8,16.5 37,17.7"/>
							</g>
						</svg>
					</button>
					<div class="portfolio-header header-five">
						<div class="portfolio-title-box">
							<h2 class="portfolio-title">Friend Finder</h2>
							<p class="portfolio-subtitle"><a class="modal-link" href="https://damp-scrubland-71809.herokuapp.com/" onclick='window.open("https://damp-scrubland-71809.herokuapp.com/");return false;' target="_blank">Visit the Website</a></p>
						</div>
					</div>
					<div class="portfolio-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
						<img class="portfolio-full-width" src="static/images/wedding-site.jpg">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
						<img class="portfolio-pull-left" src="static/images/wedding-site.jpg">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
						<img class="portfolio-pull-right" src="static/images/wedding-site.jpg">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien suscipit risus varius aliquet. Ut quis tellus tristique, gravida leo sit amet, rutrum mi. Proin lacinia vehicula rutrum. Mauris augue urna, tincidunt ut erat a, vulputate laoreet tellus.</p>
					</div>
				</div>
				{{!-- /modal --}}
			</figure>

		</div>
	</section>

	<section id="contact" class="contact">
		<h1>Contact Me</h1>
		<p>You can contact me through my email: <a href="mailto:jball321@live.com" class="inline-link">JBall321@live.com</a> or by filling out the form below.</p>
		<form id="contact-form">
			<label class="name">Name: 
				<input type="text" name="name" id="name" required="required">
			</label>
			<label class="email">Email: 
				<input type="email" name="email" id="email" required="required">
			</label>
			<label class="message">Message: 
				<textarea name="message" id="message" required="required"></textarea>
			</label>
			<button id="contact-button" class="button" type="submit">
				<span id="send">SEND</span>
				<img id="contact-loader" src="static/images/spinner.gif">
			</button>
		</form>
	</section>

	{{> footer}}
</div>