@import url('https://fonts.googleapis.com/css?family=Merriweather:400,900|Open+Sans:400,600,700,800|Six+Caps:');

$ff-s: 'Merriweather', serif;
$ff-ss: 'Open Sans', sans-serif;
$ff-headliner: 'Six Caps', sans-serif;

@mixin sans-serif($fs, $ls: 0.15em, $color: $gray, $tt: uppercase, $lh: 1) {
	font-size: $fs;
	letter-spacing: $ls;
	color: $color;
	text-transform: $tt;
	line-height: $lh;
	font-family: $ff-headliner;
	font-weight: 400;
}