<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="one-third column">
				<h4>Heading</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id ultrices quam, in consectetur metus. Duis ut purus tincidunt, tempus felis ut, luctus magna. Sed maximus, felis nec interdum venenatis, ante augue scelerisque orci, eget auctor lacus nunc quis tortor.</p>
			</div>
			<div class="one-third column">
				<h4>Heading</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id ultrices quam, in consectetur metus. Duis ut purus tincidunt, tempus felis ut, luctus magna. Sed maximus, felis nec interdum venenatis, ante augue scelerisque orci, eget auctor lacus nunc quis tortor.</p>
			</div>
			<div class="one-third column">
				<h4>Follow me on Social Media</h4>
				<div class="social-icons">
					<a href="https://www.linkedin.com/in/joseph-t-ball" target="_blank"><img class="social-icon" src="static/images/linkedin-gray.svg"></a>
					<a href="https://github.com/josephtball" target="_blank"><img class="social-icon" src="static/images/github-gray.svg"></a>
					<a href="https://www.facebook.com/joey.ball.90" target="_blank"><img class="social-icon" src="static/images/facebook-gray.svg"></a>
					<a href="https://www.instagram.com/snowballjoe/?hl=en" target="_blank"><img class="social-icon" src="static/images/instagram-gray.svg"></a>
				</div>
				<a href="/admin-login">Admin Login</a>
			</div>
		</div>
	</div>
	<div class="footer-end">
		<h6 class="copy-right">&copy; Copyright 2017 Joseph Ball</h6>
	</div>
</footer>