<footer id="footer">
	<p>Follow me on Social Media</p>
	<div class="social-icons">
		<a href="https://www.linkedin.com/in/joseph-t-ball" target="_blank"><img class="social-icon" src="static/images/linkedin-gray.svg"></a>
		<a href="https://github.com/josephtball" target="_blank"><img class="social-icon" src="static/images/github-gray.svg"></a>
		<a href="https://www.instagram.com/snowballjoe/?hl=en" target="_blank"><img class="social-icon" src="static/images/instagram-gray.svg"></a>
	</div>

	<p class="copyright">&copy; Copyright 2017 Joseph Ball</p>
</footer>