<ul>
	<a class="nav-link {{#if about}}active{{/if}}" href="/about"><li>about</li></a>
	<a class="nav-link {{#if portfolio}}active{{/if}}" href="/portfolio"><li>portfolio</li></a>
	<a class="nav-link {{#if contact}}active{{/if}}" href="/contact"><li>contact</li></a>
</ul>