<nav>
	<div class="container-nav">

		<h3 class="logo">Joseph<span>Ball</span></h3>

		<div class="site-nav">
			<ul>
				<li><a class="{{#if about}}active{{/if}}" href="/about">about</a></li>
				<li><a class="{{#if portfolio}}active{{/if}}" href="/portfolio">portfolio</a></li>
				<li><a class="{{#if contact}}active{{/if}}" href="/contact">contact</a></li>
			</ul>
		</div>

		<div class="menu-toggle">
			<div class="hamburger-top"></div>
			<div class="hamburger-middle"></div>
			<div class="hamburger-bottom"></div>
		</div>

	</div>
</nav>