{{> navbar}}

<div class="container" id="content">
	<main>
		<div class="row">
			<h1 class="seven columns">About Me</h1>
			<img class="five columns" src="static/images/browser_code.png">
		</div>
	</main>	
</div>

{{> footer}}