<div class="landing-image">
	<div class="title-box">
		<div class="personal-title">
			<h1>Joseph Ball</h1>
			<h3>Web Developer</h3>
		</div>
	</div>
	<div class="learn-box">
		<div class="learn-more">
			<a href="/about">
				<h4>Learn More About Me</h3>
				<img src="static/images/down-arrow.png" height="20px" width="70px">
			</a>
		</div>
	</div>
</div>